<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MyDbConnection" connectionString="Server=127.0.0.1;Database=loginphp;Port=3307;User Id=root;Password=;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
